/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes myanimation {
    0%   {background-color: green;}
    20%  {background: none;}
    40%  {background-color: green;}
  }
#animate {
  width: 10px;
  height: 15px;
  background-color: green;
  animation-name: myanimation;
  animation: myanimation 1s infinite;
}

@media screen and (max-width:850px){
  #projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #project-card{
    width: 100%;
  }
}

@media screen and (max-width: 680px){
  #skill{
    font-size: small;
  }
}